.container{
    width: 1200px;
    max-width: 90%;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.heading{
    margin: 20px auto;
    border-bottom: 1px solid rgba(0, 0, 0, 0.171);
    padding: 20px;
    text-align: center;
    width: 450px;
}

.title {
    margin: 20px 0 ;
    font-weight: bold;
}

.newSection {
    margin: 70px 0;
}

.aboutDiv p{
    margin: 0 20px;
}